/* Main Content ------------------------------------------------------*/

h1 {
	width: 100%; /* 1200px */
	height: 41.66666666667%; /* 50px/1200px */
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 8px #fff;
	font-family: 'Gabriela', sans-serif;
	background-color: #000;
	padding: 5px;
	margin: 8.3333333333333% auto;
	clear: both;
}
h2 {
	font-family: 'Gabriela', sans-serif;
	width: 41.66666666667%; /* 500px/1200px */
	height: 03.333333333333%; /* 40px/1200px */
	text-align: center;
	float:right;
	margin-top: .083333333333%; /* 1px/1200px */
	margin-right: 5.833333333333% /*70px; */
}

body {
	
	max-width: 1200px;
	margin: 0 auto;
	background-image:url('../images/background.png');
	background-color: #566D7E;
	background-repeat: repeat-x;
	}
	
p {	margin-top: 160px;
	font-family: 'Donegal One', sans-serif;
	font-size: 1.250em; /* 20px*/
	clear:left;
	}
	
#process {
	font-family: 'Donegal One', sans-serif;
	font-size: 1.250em; /* 20px */
	-moz-column-count: 3;
	
}


article p img {
	width: 41.666666666667%; /*500px;*/
	float:left;
	margin-right: 9px;
	margin-bottom: 50px;
	border-style: solid;
	border-radius: 10px;
	border-color: #000;
}


#artist	{
 
	max-width: 100%;
}


aside {
	font-family: 'Donegal One', sans-serif;
	font-size: 1.250em; /* 20px*/
}
	

	
/* Navigation--------------------------------------------------------*/

nav ul {
	width: 50%; /* 600px/1200px*/
	height: 3.75%; /*45px/1200px*/
	margin: 0 auto;
	color: #fff;
	list-style-type: none;
	background-color: #000;
	padding: 0;
	overflow: hidden;
}

nav ul li {
	width: 33.333333333333%; /* 200px/600px*/
	height: 7.5%; /* 45px/600px*/
	background: #000;
	float:left;
	}
	
nav ul li a{
	text-decoration: none;
	background: #000;
	display: block;
	height: 7.5%; /* 45px */
	line-height: 100%; /* 30px */
	text-align: center;
	padding-top: 5%; /* 5px */ 
	color: #E42217
	}
	
nav ul li a:hover {
	color: #E42217;
	background: #fff;	
}

/* Gallery-------------------------------------------------------------*/
	
	h3 {
	font-family: 'Gabriela', sans-serif;
	height: 2.5%; /* 30px/1200px*/
	clear: both;
	margin-top: 0.833333333333%; /* 10px/1200px*/
	font-size: 1.500em; /* 25px/1200px*/
	}

ul { 
	list-style-type: none;
	margin: 1.666666666667% auto; /* 20px/1200px */
	overflow: hidden;
	padding: .416666666667%; /* 5px/1200px */
}

ul li img {
	float:left;
	margin-left: 1.666666666667%; /* 20px/1200px */
	border: 10px solid #fff;
	padding: .416666666667%; /* 5px/1200px */
	}

ul li img {
	max-width: 100%;
}


/* Contact Me-----------------------------------------------------------*/

h4 {
	font-family: 'Gabriela', sans-serif;
	height: 2.5%; /* 30px */
	clear: both;
	font-size: 1.500em; /* 25px */
	
}

#contact {
	font-family: 'Gabriela', sans-serif;
	font-size: 1.000em; /* 15px */
	margin-bottom: 2.5%; /* 30px */
}






/* footer---------------------------------------------------------------*/

footer {
	font-family: Arial, sans-serif;
	
	
}


/* Media Queries -------------------------------------------------------- */

/*  Tablet Portrait size to standard 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width: 959px) {

body {
	background-color: #509cff;
}


}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

body {
	background-color: #ff7743;
}



}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

body {
	background-color: #d593ff;
}



}


